*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 60px;
    width: 139px;
}

.navbar ul{
    font-size: 16;
    width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    font-size: 16;
    border-radius: 4px;
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.hero-section{
    height: 647px;
    width: 1600px;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
    background-image: url("../assets/hero-bg.png")
}

.banner-text{
    width: 1360px;
    height: 295px;
    
}

.early-access{
    height: 35px;
    width: 229px;
    background-color: white;
    border-radius: 1000px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    gap: 6px;
    margin: 0 auto;
    align-items: center;

}

.early-access p{
    color: #30B868;
    font-size: 16;
}

.circle{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    opacity: 20%;
    border-radius: 50px;

}


.outer{
    height: 12px;
    width: 12px;
    background-color: #30B868;
    opacity: 40%;

}

.inner{
    height: 6px;
    width: 6px;
    background-color: #30B868;
    opacity: 100%;
}

.moto-txt{
    width: 770px;
    height: 168px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 295px;
    margin-right: 295px;
    opacity: 90%;
}

.moto-txt h1{
    text-align: center;
    font-size: 74px;
    font-weight: 700;
    line-height: 1.2;
}

.first-line{
    color: white;
}

.second-line{
    color: #30B868;

}

.details{
    height: 60px;
    width: 1360px;
    margin-bottom: 32;
}

.details p{
    text-align: center;
    font-size: 18;
    color: white;
}