*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1600px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 60px;
    width: 139px;
}

.navbar ul{
    font-size: 16;
    width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    font-size: 16;
    border-radius: 4px;
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

main{
    max-width: 1600px;
}

.hero-section{
    height: 647px;
    width: 1600px;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
    background-image: url("../assets/hero-bg.png")
}

.banner-text{
    margin-top: 45.5px;
    margin-bottom: 45.5px;

    width: 1360px;
    height: 295px;
    
}

.early-access{
    height: 35px;
    width: 229px;
    background-color: white;
    border-radius: 1000px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    gap: 6px;
    margin: 0 auto;
    align-items: center;

}

.early-access p{
    color: #30B868;
    font-size: 16;
}

.circle{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    opacity: 20%;
    border-radius: 50px;

}


.outer{
    height: 12px;
    width: 12px;
    background-color: #30B868;
    opacity: 40%;

}

.inner{
    height: 6px;
    width: 6px;
    background-color: #30B868;
    opacity: 100%;
}

.moto-txt{
    width: 770px;
    height: 168px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 295px;
    margin-right: 295px;
    opacity: 90%;
}

.moto-txt h1{
    text-align: center;
    font-size: 74px;
    font-weight: 700;
    line-height: 1.2;
}

.first-line{
    color: white;
}

.second-line{
    color: #30B868;

}

.details{
    height: 60px;
    width: 1360px;
    margin-bottom: 32;
}

.details p{
    font-weight: 400;
    text-align: center;
    font-size: 18;
    color: white;
}

.hero-btns{
    height: 52px;
    width: 465px;
    margin-left: 447.5px;
    margin-right: 447.5px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-one{
    font-weight: 600;
    border: none;
    background-color: #30B868;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 10px;
    cursor: pointer;
}

.btn-two{
    font-weight: 600;
    border-radius: 4px;
    color: white;
    border: 2px solid;
    background: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.inspire-section{
    height: 152px;
    width: 1360px;
    margin: 0 auto;
}

.inspire-section h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.inspire-section p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}

.feature-section{
    height: 300px;
    width: 1360px;
    margin: 0 auto;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.feature-card{

    padding-top: 60.5px;
    padding-bottom: 53.5px;
    padding-left: 24px;
    padding-right: 24px;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.feature-bg{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.feature-bg img{
    margin: 0 auto;
}

.feature-card h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.feature-card p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}

.solution-container{
    height: 840px;
    width: 1600px;
    padding: 120px;
}

.solution{
    height: 600px;
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.solution img{
    height: 600px;
    width: 600px;
}

.solution-txt-container{
    height: 396px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.solution-txt{
    height: 228px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solution-txt h3{
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
}

.solution-txt h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
}

.solution-txt p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
}

.check-container{
    height: 128px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.check{
    display: flex;
    gap: 6px;
}

.check img{
    height: 20px;
    width: 20px;
}

.check p{
    color: #001931;
    font-size: 16px;
    font-weight: 500px;
    color: #001931;
}

.conclusion-container{
    height: 506px;
    width: 1600px;
    padding: 120px;
}

.conclusion{
    height: 384px;
    width: 1360px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.txt-area h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.txt-area p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}
